.cache/clangd/index/*.idx
0B000001/Keil/out/
0B000001/Keil/Objects/
0B000001/Keil/Listings/
0B000001/Keil/tmp/
0B000001/Keil/build/
0B000001/Keil/SensminiA4Neo_OTA_FW/
0B000001/Keil/sensminiA4Neo.uvguix.matt.wang
0B000001/Keil/sensminiA4Neo.uvmpw.uvgui.matt.wang
ThirdParty/FreeRTOS/Objects/
ThirdParty/lwip/Objects/
ThirdParty/mbedTLS/Objects/
build/

*.idx
*.bak
*.wang
*.o